/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2014/10/03, 14:05:00
    Author     : watanabe
*/

h1,h2,h3,h4,h5,h6{font-size: 125%;margin: 0.4em 0;}

h2{font-size: 125%;color:#D30;}
h3{font-size: 120%;color:#267;}
h4{font-size: 115%;color:#498;}
h5{font-size: 110%;}
h6{font-size: 105%;}

body {
    background: #556;
    text-align: center;
    padding: 10px;
    text-shadow: 0px 0px 3px #DDD;
	color: #012;
/*	font-family:'lucida grande',verdana,helvetica,arial,sans-serif;*/
	font-family:'lucida grande',verdana,helvetica,arial,"游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
	line-height: 1.5em;
	font-size:90%;
}
div.contents {
    width: 720px;
    margin: auto;
    padding: 10px;
    border: 1px solid #778;
}
table.sliders td {
    padding: 6px;
}
#result_div {
    background: #fff;
    background-image: url("template.php?scale=30&step=20");
    width: 300px;
    height: 300px;
}
div.board {
    border-radius: 10px;
    padding: 5px;
}
div.loader {
    border-radius: 10px;
    background: #fff;
    width: 360px;
    height: 360px;
    padding-left: 270px;
    padding-top: 270px;
}
div.result {
    border-radius: 10px;
    background: #fff;
    padding-left: 15px;
    padding-top: 15px;
}

.ui-slider .ui-slider-handle { 
    width: 12px;
    height: 12px;
}

.ui-slider {
    width: 150px;
    height: 4px;
    margin: 0px 0px;
    padding: 0px;
}

td.label {
    width: 30px;
    text-align: right;
    font-size: 80%;
}
td.value {
    width: 50px;
}
